.content {
  display: grid;
  grid-template-columns: 1fr 300px;
  gap: 60px;
  text-align: left;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}

.title {
  font-family: "SF Pro Display", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 110%;
  color: #000;
  margin: 0 0 30px;
  margin-top: 30px;
  text-align: left;
}

.subtitle {
  font-family: "SF Pro Display", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 110%;
  color: #000;
  margin: 0 0 20px;
}

.additionalTitle {
  font-family: "SF Pro Display", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 120%;
  color: #000;
  margin: 0 0 20px;
}

.text {
  font-family: "SF Pro Display", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #000;
}

.textItem {
  margin: 0 0 12px;
}

.textLink {
  color: #4a61dd;
  text-decoration: none;
}

@media screen and (max-width: 950px) {
  .content {
    grid-template-columns: 1fr;
    gap: 30px;
    padding-bottom: 60px;
  }

  .title {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .subtitle {
    font-size: 24px;
    margin-bottom: 16px;
  }

  .additionalTitle {
    font-size: 20px;
    margin-bottom: 16px;
  }
}
